{% extends "base.html" %}
{% block title %}Upload Media{% endblock %}
{% block content %}

<div class="page-section" style="max-width:1200px;">
  <h2>Upload New Media (GIF/PNG/JPG)</h2>
  <form method="POST" enctype="multipart/form-data">
    <label>Select Subfolder:</label><br>
    <select name="subfolder">
      {% for sf in subfolders %}
      <option value="{{ sf }}">{{ sf }}</option>
      {% endfor %}
    </select>
    <br><br>

    <label>(Optional) Create new subfolder:</label><br>
    <input type="text" name="new_subfolder" placeholder="New Folder Name">
    <br><br>

    <input type="file" name="mediafiles" accept=".gif,.png,.jpg,.jpeg" multiple>
    <br><br>

    <button type="submit">Upload</button>
  </form>
</div>

{% endblock %}
